<link rel="stylesheet" type="text/css" href="/edit.css">

<section class="container">

        <div class="info-div">
            <h1 class="title">Edit Plant</h1>
            <div class="content">

                <form class="box" action="<%=id%>?_method=PUT" method="POST">
                    <ul class="inputs">
                        <li>
                        <label for="name">Name</label>
                        <input type="text" name="name" value="<%=name%>"/>
                        </li>

                        <li>
                        <label for="description">Description</label>
                        <input  type="text" name="description" value="<%=description%>"/>
                        </li>

                        <li>
                        <label for="img">Image</label>
                        <input type="text" name="img" value="<%=img%>"/>
                        </li>
                    </ul>

                        <div class="buttons">
                        <input class="btn" type="submit" />
                        <a class=" btn cancel"href="/plants" >Cancel</a>
                        </div>
                    </div>  

                  
                </form>
        </div>
    </div>

        <div class="image"> </div>


</section>