
<link rel="stylesheet" type="text/css" href="home.css">



<div class="container">
    <ul class="nav-links" >
        <li><a href="/plants">VIEW PLANTS</a></li>
        <li><a href="/new">ADD PLANTS</a></li>
    </ul>

    <div class="oval">
        <h1 class="title">PLANTIFY</h1>
    </div>

    <div class="text">
        <p>YOUR PERSONAL PLANT LIBRARY</p>
    </div>

</div>


