<link rel="stylesheet" type="text/css" href="/add.css">

<section class="container">
    <div class="image">
        <h1 class="font welcome">WELCOME</h1>
        <h1 class="font welcome">TO&emsp;&emsp;THE</h1>
        <p class="font family">&emsp;family</p>
    </div>

    <div class="flex">
        <h1 class="title">Add New Plant</h1>
    <div class="content">
    

    <form  class="box" action="/add" method="POST">

        <ul class="inputs">
            <li>
            <label  for="name">Name</label>
            <input class=" input" type="text" name="name"/>
            </li>

            <li>
            <label  for="description">Description</label>
            <input class=" input" type="text" name="description"/>
            </li>

            <li>
            <label  for="img">Image</label>
            <input class=" input" type="text" name="img"/>
            </li>
        </ul>  

        <div class="buttons">
        <input class=" btn submit" type="submit" />
        <a href="/" class="btn cancel " >Cancel</a>
        </div>
    </form>
</div>
</div>
</section>

