<link rel="stylesheet" type="text/css" href="styles.css">

<h1>Add New Plant</h1>

<form class="form" action="/add" method="POST">

    <div class="inputContainer">
        <label class="font" for="name">Name</label>
        <input class="font input" type="text" name="name"/>

        <label class="font" for="description">Description</label>
        <input class="font input" type="text" name="description"/>

        <label class="font" for="img">Image</label>
        <input class="font input" type="text" name="img"/>
    </div>  

    <input class="font btn submit" type="submit" />
    <a href="/" class="btn cancel font" >Cancel</a>
</form>


