body {
    background-color: white;
    margin:0;
    padding: 0;
}
.animate{
    animation: 2s anim-animate ease-out ;
}

@keyframes anim-animate {
    0% {
      opacity: .2;
      transform: translateY(50%);
    }
    20% {
      opacity: .3;
    }
    50% {
      opacity: .6;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.banner{
    position: relative;
    background-image: url(./assets/pexels-sebastian-sørensen-1276518.jpg);
    height: 15%;
    margin-bottom: 30px;
  
}

.nav-links{
    color: #cce00c;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Raleway';
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 40px;
    font-size: 1.em;
    margin:0;
    letter-spacing: 3px;
}

a {
    color: #cce00c;
    text-decoration: none;
}

.btn:hover {
    color:white; 
    background-color: black;
    text-decoration:none; 
    cursor:pointer;  
}

.oval{
    width: 25vh;
      height: 7vh;
      background: none;
      border: 2px solid #cce00c;
      border-radius: 50%;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title{
        color: #cce00c;
        font-size: 1.3em;
        letter-spacing: 5px;
        font-family: 'Tangerine' ;
    }
    
.container{
    display: grid;
    padding-top: 40px;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(300px, 300px));
    grid-gap: 40px;
   
}

.cards{
   border: 2px solid black; 
   padding: 20px;
   height: 400px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   box-shadow: 8px 8px 5px gray;
   transition: bottom 1s ease;
   /* justify-content:space-between; */
}

.title-font {
    font-family:'Tangerine';
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;

}

.textContainer{
    padding: 10px;
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-family: 'Raleway';
}


img{
    border-radius: 5px;
}

.btnContainer{
    padding: 20px 0px; 
}

.btn{
   padding: 10px;
   border-radius: 5px;
   border: 1px solid black;
   font-family: "Raleway";
   cursor: pointer;
   font-size: 15px;
   background-color: white;
   color: black;

}



.inputContainer{
    padding: 10px 0px;
}

.form{
    width: 50%;
}

.input{
    width: 100%;
}





.btnParent{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.margin{
    margin: 0;
}